<% if @orders %>
  <% @orders.each do |order| %>
    <div style="background-color: black; color: red;"> <%= order %></div>
  <% end %>
<% end %>

<table id="order-product-records-datatable" data-source="<%= owners_dashboard_path(format: :json)%>">
<thead>
<th>id</th>
<th>total price</th>
<!--<th>id</th>-->
<!--<th>id</th>-->
<!--<th>id</th>-->
</thead>
</table>


<script type="text/javascript">
    // console.log(jQuery('#orders-datatable'))
    jQuery('#order-product-records-datatable').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": $('#order-product-records-datatable').data('source')
        },
        "pagingType": "full_numbers",
        "columns": [
            {"data": "id"},
            {"data": "order_id"},
            {"data": "user_email"},
            // {"data": "product_name"},
            // {"data": "product_price"},
            // {"data": "amount"},
            // {"data": "total_price"},
        ]
    })
</script>
