<% if @orders %>
  <% @orders.each do |order| %>
    <div style="background-color: black; color: red;"> <%= order %></div>
  <% end %>
<% end %>

<table id="records-datatable" data-source="<%= owners_dashboard_path(format: :json) %>">
  <thead>
  <th>id</th>
  <th>order id</th>
  <th>user email</th>
  <th>product</th>
  <th>price</th>
  <th>quantity</th>
  </thead>
</table>


<script type="text/javascript">
    // console.log(jQuery('#orders-datatable'))
    jQuery('#records-datatable').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": $('#records-datatable').data('source')
        },
        "pagingType": "full_numbers",
        "columns": [
            {"data": "id"},
            {"data": "order_id"},
            {"data": "user_email"},
            {"data": "product"},
            {"data": "price"},
            {"data": "quantity"},
            // {"data": "total_price"},
        ]
    })
</script>
