/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.pagination_nav {
    margin-block: 10px;
    width: 100%;
    /*position: absolute;*/
    bottom: 15px;
    border: 1px solid lightgray;
}
.pagination_nav nav {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    color: red;
}
.current {
    border-bottom: 1px double black;
}


@media only screen

and (min-device-width: 360px)

and (max-device-width: 667px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: portrait) {
    .pagination_nav nav {
        column-gap: 5px;
        font-size: 15px;
    }
    .pagination_nav nav .page:last-child {
        display: none;
    }
}