.cats-check-boxes input {
    margin-inline-start: 17px;
    margin-inline-end: 5px;
}

.products-filters form {
    display: flex;
    width: 100%;
    flex-direction: row;
    float-wrap: none;
    column-gap: 15px;
    align-items: baseline;
    padding-inline-start: 2rem;
}
.products-filters .btn-color {
    background-color: black;
    color: #2E2F30;
}