<div class="w-100">
  <h1 class="ms-5">
    <%= @category.name.to_s.gsub("_", " ").capitalize %> category's products
  </h1>
  <%= render "products/shared/products_view", locals:{products: @products} %>
</div>